p,
h1,
h2,
h3,
h4,
h5,
h6,
table,
th,
ol,
li,
ul {
    @apply text-indigo-900 dark:text-indigo-100 no-underline;
}

a {
   @apply no-underline; 
}

section a {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.75em;
}

p {
    font-size: 1.1rem;
}


article h1:first-child,
article h2:first-child,
article h3:first-child {
    margin-top: 0 !important;
}

article {
    h1, h2, h3, h4, h5 {
        a {
            text-decoration: none !important;
            font-weight: 800 !important;
        }
    }
}